@media screen and (max-width: 702px) {
    .modal-title-logo-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 500px) {
    .fieldset {
        width: 90%;
    }
    .how-it-works-item {
        flex-direction: column;
    }
    .try-on-content {
        margin-left: 0px;
        margin-top: 20px;
    }
}
